# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg

# Environments
.venv/
env/
venv/
ENV/

# MyPy
.mypy_cache/

# Pytest cache
.pytest_cache/

# Notebooks
.ipynb_checkpoints/

# Miscellaneous
*.log
*.sqlite3
*.db
.env
.flaskenv

# IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
